.swatchFunctionContainer {
    min-width: 150px;
    
    margin-bottom: 10px;
}

@media only screen and ( min-width: 992px) {
    .swatchFunctionContainer {
        margin-right: 15px;
    
        margin-bottom: 0;
    }

    .swatchFunctionContainer:last-child {
        margin-right: 0px;
    }
}

.swatchFunctionHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 10px;

    font-size: large;
}

.customCheckbox {
    margin: 0;
}

.poleSelect {
}