.colorDetailTile {
    box-sizing: border-box;

    width: 100%;

    border: 1px solid grey;
    border-radius: 3px;

    padding: 10px;
}

.colorPatchContainer {
    width: 100px;
    height: 100px;

    margin: auto;
}

.hsvDetails {
    width: 80%;
    min-width: 100px;

    margin: auto;
}